#box1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 100px;
    height: 500px;
  }

#box2 {
    border-radius: 25px;
    background: red;
    padding: 20px;
    width: 100px;
    height: 500px;
}
#row {
    padding-top: 10%;
    padding-left: 5%;
    white-space: nowrap;
  }
  
  #row > div {
    width: 300px;
    display: inline-block;
  }

#boxtext1{
  background-color: black;
  font-family:  Copperplate, "Copperplate Gothic Bold", fantasy;
  color: white;
  font-size: xx-large;
  text-align: center;
  vertical-align: middle;
  line-height: 90px; 
}
#boxtext2{
  background-color: #73AD21;
  color: blue;
  text-align: center;
  font-family:  Copperplate, "Copperplate Gothic Bold", fantasy;
  font-size: xx-large;
  vertical-align: middle;
  line-height: 90px; 
}

